/* CSS Reset */
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
html {
  font-family: 'Pontano Sans', sans-serif;
  box-sizing: border-box;
}
/*///////////////////////////*/

.header {
  background-image: url('./images/header-background.JPG');
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10px 0px;
  height: 400pt;
  text-align: center;
}

.header h1 {
  padding: 5px;
  color: rgb(255, 255, 255);
}

#nav {
  /* margin: 10px 0px; */
  padding: 10px 0px;
  width: 100%;
  z-index: 1;
  background-blend-mode: color;
  font-family: 'Hind', sans-serif;
}

#nav a {
  display: inline;
  margin-right: 5px;
  padding: 5px;
  text-decoration: underline;
  color: rgb(1, 1, 1);
}

/* #nav a:-webkit-any-link {
  color: rgb(1, 1, 1);
} */

#nav a:hover {
  color: rgb(255, 244, 244);
  font-weight: 900;
  border-radius: 10px;
  text-shadow: 10pt;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  background: inherit;
  text-align: center;
}

.sticky + .content {
  padding-top: 102px;
}

.content {
  margin-top: 20px;
  padding-top: 10px;
  justify-content: center;
}

h2 {
  padding: 10px 0px;
  background-color: rgb(141, 180, 200);
}

#description {
  text-align: left;
  padding-left: 10px;
  font-style: italic;
  color: rgb(50,50,50);
}

.containers {
  margin: 10px 0px;
  text-align: center;
}

#skills-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  justify-items: center;
}

#skills-container img {
  height: 50pt;
  width: 50pt;
  box-shadow: 0 8px 6px -6px black;
}

#projects {
  margin-top: 5px;
  /* padding: 5px; */
}

#projects img {
  margin-top: 15px;
  padding: 3px;
  border: solid rgb(103, 91, 106) 2px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
  height: 150pt;
  width: 300pt;
}

#projects img:hover{
    /* -webkit-animation: heartbeat 1.5s ease-in-out both;
    animation: heartbeat 1.5s ease-in-out both; */
    box-shadow: 0 8px 6px -6px rgb(255, 243, 7);
    -webkit-box-shadow:0px -1px 25px rgb(255, 243, 7),
    0px 1px 25px rgb(255, 243, 7);
    -moz-box-shadow:0px -1px 25px rgb(255, 243, 7),
    0px 1px 25px rgb(255, 243, 7);
    box-shadow:0px -1px 25px rgb(255, 243, 7),
    0px 1px 25px rgb(255, 243, 7);
}

/* #one img {
}

#two img {
  height: 150pt;
  width: 300pt;
}

#three img {
  height: 170pt;
  width: 300pt; 
} */

#social-links img {
  margin-right: 10px;
  /* height: 20pt;
  width: 20pt; */
  height: 50pt;
  width: 50pt;
  box-shadow: 0 8px 6px -6px black;
}
#social-links img:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-3 14:22:13
 * w: http://animista.net, t: @cssanimista
 * animation vibrate-1
 * ----------------------------------------
 */

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* ///////////////////////////*/

#footer {
  text-align: center;
}

#credit {
  font-size: 8pt;
  margin-bottom: 100px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}