html {
  font-family: 'Pontano Sans', sans-serif;
  background-color: white;
}

h2 {
  font-family: 'Hind', sans-serif;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 40%;
  padding: 10px;
  justify-content: center;
}

section {
}

.raul {
  border: solid black 2px;
  padding: 5px;
  /* height: 450px; */
}

.raul img {
  height: 300pt;
  width: 200pt;
  background-blend-mode: color;
}

.work {
  border: solid black 2px;
  padding: 5px;
  /* height: 450px; */
}

.one img {
  height: 150pt;
  width: 200pt;
}

.two img {
  height: 150pt;
  width: 300pt;
}

.three img {
  height: 170pt;
  width: 300pt;
}

body footer {
  text-align: center;
}

.social-links img {
  margin-right: 10px;
  height: 20pt;
  width: 20pt;
}

.credit {
  font-size: 8pt;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}